# Pastas temporárias e cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Ambientes virtuais
venv/
.venv/
env/

# Configurações de IDEs
.vscode/

# Arquivos de teste
.coverage
htmlcov/

# Pastas de build executável (PyInstaller / PyWebView)
build/
dist/
*.spec